* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vh;
    box-sizing: border-box;
    background-color: hsl(212, 23%, 69%);
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    height: 90vh;
    
}
.card {
    height: 250px;
    width: 50%;
    display: flex;
    background-color: hsl(210, 46%, 95%);
    color: hsl(214, 17%, 51%);
}

.left {
    background: url('images/drawers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 100%;
    
}

.right  {
    padding: 30px;
    width: 600px;
    
    
}

.heading {
    font-weight: 700;
    font-size: 20px;
    
    color: hsl(217, 19%, 35%);
    padding-bottom: 20px;
}

.profile-card {
    width: auto;
    height: auto;
    
    padding-top: 20px;
    display: flex;
    gap: 20px;
    
    align-items: center;
    background-color: hsl(210, 46%, 95%);
    
    
}

.circle1 {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 50px;
    height: auto;
    border-radius: 50px;
}

.name {
    font-weight: 500;
    padding-bottom: 10px;
}

.profile-info {
    
}

.share {
    width: 30px;
    height: auto;
}

.share-mobile {
    display: none;
    width: 30px;
    height: auto;
}

.circle2 {
    margin-left: 180px;
    background-color: hsl(214, 17%, 51%);
    height: 40px;
    width: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-left {
    display: flex;
    gap: 20px;
    align-items: center;
   
    
}

.pop-up {
    display: none;
    background-color: hsl(217, 19%, 35%);
    width: 200px;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: hsl(210, 46%, 95%);
    position: fixed;
    left: 65%;
    margin-top: -40px;
    z-index: 10;
}

.attribution {
        display: flex;
        justify-content: center;
        
        width: 100vw;
}



@media (max-width: 550px) {

    body {
        width: 100vw;
        height: 100vh;
        
    }
    .card {
        width: 90%;
        height: 70%;
        display: block;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .flex {
        display: flex;
        width: 90%;
        height: 90%;
        align-items: center;
        justify-content: center;
        
        
    }

    .left {
        height: 300px;
        width: 100%;
        background-size: contain;
    }

     .right {
        width: 100%;
        padding: 0px;
        
        
        height: auto;
    }

    .attribution {
        
    }

    .profile-left {
        
        
    }

    .profile-info {
        width: 200px;
    }

    .circle2 {
        margin-left: -40px;
        margin-top: 30px;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        padding: 10px;
        box-sizing: border-box;
         background-color: hsl(210, 46%, 95%);
         z-index: 40;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        
        width: 100vw;
        height: 90vh;
    }

    .heading {
        font-size: 18px;
        padding: 20px;
        margin-top: -20px;
    }

    .txt {
        padding-left: 20px;
        padding-right: 20px;
        background-color: hsl(210, 46%, 95%);
        
    }

    .profile-card {
        padding: 20px;
        box-sizing: border-box;
    }

    .pop-up {
        display: flex;
        background-color: hsl(217, 19%, 35%);
        width: 85%;
        height: 70px;
        align-items: center;
        gap: 0px;
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
        color: hsl(210, 46%, 95%);
        position: fixed;
        left: 5%;
        margin-top: 30px;
        justify-content: flex-start;
        z-index: 10;
        gap: 30px;
    }

    .share {
        display: none;
    }
/*anenih webdesigns*/
    .share-mobile {
        display: block;
        position: relative;
        z-index: 50;
    }
}